@model IEnumerable<VJShop.Areas.Admin.Models.MAYANH>

@{
    ViewBag.Title = "Index";
}
<style>
    th {
        width: 60px;
        font: bold;
    }

    tr td {
        width: 170px;
        text-align: center;
    }

    table, th, td {
        border: 1px solid pink;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }
</style>
<h2>Bảo trì máy ảnh</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>



            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @{
                    string ImagePath = "~/Content/image/" + item.AnhDaiDien;
                }
                <img src="@Url.Content(ImagePath)" width="50" class="img-thumbnail" />
                <br />
                @Html.DisplayFor(modelItem => item.AnhDaiDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaAnh }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaAnh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaAnh })
            </td>
        </tr>
    }

</table>
